* {
  font-family: Segoe UI;
  font-size: 12px;
}

#autocomplete {
  border: 1px solid silver;
  outline: none;
  margin: 0;
  background: #fff;
}

#autocomplete-dropdown {
  border: 1px solid silver;
  border-top: 0;
  position: absolute;
  overflow: auto;
  max-height: 93px;
  background: #fff;
}

#autocomplete, #autocomplete-dropdown {
  width: 200px;
  box-sizing: border-box;
}

#autocomplete, #autocomplete-dropdown p {
  padding: 4px;
  margin: 0;
  color: #000;
}

#autocomplete-dropdown p:nth-child(2n+1) {
  background: #f6f6f6;
}

#autocomplete-dropdown p:hover {
  background: #e5e5e5;
}